<%- include("../partials/header.ejs") %>

<div class="create-article-section">
    <h1 class="section-title">Create New Article</h1>

    <form class="article-form" action="/category/update" method="POST">
        <input type="hidden" name ="__method" value="PUT" >
        <div class="form-group">
            <label for="name" class="form-label">Category Name</label>
            <input
                type="text"
                id="name"
                name="category_name"
                class="form-input"
                maxlength="150"
                value="<%= category.name %>"
            />
        </div>

        <div class="form-actions">
            <button type="button" class="btn-secondary" onclick="window.history.back()">
                <span class="btn-icon">←</span>
                <span class="btn-text">Cancel</span>
            </button>
            <button type="submit" class="btn btn-primary">
                <span class="btn btn-icon">📝</span>
                <span class="btn btn-text">Publish Category</span>
            </button>
        </div>
    </form>
</div>

<script>

document.querySelector(".article-form").addEventListener("submit" , function (e) { 
    const name = document.getElementById("name").value.trim();
    if(name.length === 0 ) {
        e.preventDefault();
        alert("Please enter a category name.");
        return;
    }
 })

</script>

<%- include("../partials/footer.ejs") %>
